<table class="display-comment">
	<tr>
		<td rowspan="3" class="comment-user-img">
			<%= link_to user_path(comment.user.id) do %>
				<%= image_tag comment.user.profile_image.url %>
			<% end %>
		</td>
		<td class="name">
			<%= link_to user_path(comment.user.id) do %>
				<%= comment.user.name %>
			<% end %>
		</td>
	</tr>
	<tr>
		<td class="content">
			<%= safe_join(comment.content.split("\n"),tag(:br)) %>
			<%# simple_format(comment.content) %>
		</td>
	</tr>
	<% if current_user?(comment.user) %>
		<tr>
			<td class="comment-edit-or-dalete-icon">
				<%= link_to(edit_comment_path(comment), remote: true) do %>
					<i class="fas fa-edit"></i>
				<% end %>
				<%= link_to(comment, method: :delete, data: { confirm: "コメントを削除しますか？" }, remote: true) do %>
					<i class="fas fa-trash"></i>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>