<% provide(:title, @user.name) %>
<div class="user-profile tac">
	<div class="user-img">
		<%= image_tag @user.profile_image.url %>
	</div>
	<p><%= @user.name %></p>
	<%= render 'follow_form', user: @user %>
	<a href="<%= following_user_path(@user) %>">
		<strong id="following" class="stat">
		<%= @user.following.count %>
		</strong>
		フォロー中
	</a>    
	<a href="<%= followers_user_path(@user) %>">
		<strong class="stat followers">
		<%= @user.followers.count %>
		</strong>
		フォロワー
	</a>
</div>
<%= render 'posts/posts_list' %>
<%= javascript_include_tag 'modal.js' %>