<% provide(:title, @user.name) %>
<div class="user-profile tac">
	<div class="user-img">
		<%= image_tag @user.profile_image.url %>
	</div>
	<p><%= @user.name %></p>
	<%= render 'follow_form', user: @user %>
	<a href="<%= following_user_path(@user) %>">
		<strong id="following" class="stat">
		<%= @user.following.count %>
		</strong>
		フォロー中
	</a>    
	<a href="<%= followers_user_path(@user) %>">
		<strong class="stat followers">
		<%= @user.followers.count %>
		</strong>
		フォロワー
	</a>
	<table id="tab-list">
		<tr>
			<td id="posts-tab">
				<%= link_to '投稿一覧', user_path(@user) %>
			</td>
			<td class="tab-delimit-line">|</td>
			<td id="likes-tab">
				<%= link_to 'いいね一覧', user_path(@user, params: {likes: ""}) %>
			</td>
		</tr>
	</table>
</div>
<h1><%= @list_title %></h1>
<%= render 'posts/posts_list' %>
<%= javascript_include_tag 'modal.js' %>