<div class="posts-list">
	<% if @posts.present? %>
		<ul>
			<% @posts.each do |post| %>
				<% if post.img? %>
					<li>
						<a class="js-modal-open" href="" data-target="modal-<%= post.id %>">
							<%= image_tag post.img.url %>
							<i class="fas fa-heart like-icon"> </i>
							<i class="fas fa-comment comment-icon"> </i>
						</a>
					</li>
					<%# モーダルウィンドウ %>
					<div id="modal-<%= post.id %>" class="modal js-modal">
						<div class="modal__bg js-modal-close"></div>
						<div class="modal__content">
						<%# モーダルウィンドウの内容 %>
							<div class="image__content">
								<h1><%= post.title %></h1>
								<%= image_tag post.img.url %>
							</div>
							<div class="border__line"></div>
							<div class="reader-of-ui">
								<div class="icon_ui">
									<%# <i class="fas fa-heart"></i> %>
									<%= render 'shared/like_form', post: post %>
								</div>
								<div class="border__line"></div>
								<div class="post-user-profile">
									<table>
										<tr>
											<td class="post-user-profile-img">
												<%= image_tag post.user.profile_image.url %>
											</td>
											<td class="post-user-name-and-follower">
												<h4><%= post.user.name %></h4>
												<p>フォロワー　<%= post.user.followers.count %></p>
											</td>
											<td class="post-user-follow-form">
												<%= render 'shared/follow_form', user: post.user %>
											</td>
										</tr>
									</table>
								</div>
								<div class="clear"></div>
								<div class="post__comment__ui">
								</div>
							</div>
						</div>
					</div>
				<% end %>
			<% end %>
		</ul>
	<% else %>
		<h4><p class="tac">投稿がありません</p></h4>
	<% end %>
</div>
<div class="clear"></div>
<div class="tac">
    <%= paginate @posts %>
</div>

