<div id="modal-<%= post.id %>" class="modal js-modal">
	<div class="modal__bg js-modal-close"></div>
	<div class="modal__content">
	<%# モーダルウィンドウの内容 %>
		<div class="image__content">
			<%  post.title = "No title" if post.title.blank? %>
			<h2><%= post.title? %></h2>
			<%= image_tag post.img.url %>
		</div>
		<div class="reader-of-ui">
			<div class="post-ui-icon">
				<div class="post-like-icon">
					<%= render 'likes/like_form', post: post %>
				</div>
				<div class="post-comment-icon">
					<i class="far fa-comment"></i>
				</div>
				<% if current_user?(post.user) %>
					<div class="post-delete-icon">
						<%= link_to( post, method: :delete, data: { confirm: "本当に削除しますか？" }) do %>					
							<i class="fas fa-trash"></i>
						<% end %>
					</div>
				<% end %>
			</div>
			<div class="clear"></div>
			<div class="post-user-profile">
				<table>
					<tr>
						<td class="post-user-profile-img">
							<%= link_to user_path(post.user.id) do %>
								<%= image_tag post.user.profile_image.url %>
							<% end %>
						</td>
						<td class="post-user-name-and-follower">
							<%= link_to user_path(post.user.id) do %>
								<h4><%= post.user.name %></h4>
							<% end %>
							<p>
								<strong class="followers">
									<%= post.user.followers.count %>
								</strong>
								フォロワー
							</p>
						</td>
					</tr>
				</table>
			</div>
			<div class="clear"></div>
			<%# 投稿者のコメント %>
			<div class="post-user-comment">
				<%= safe_join(post.comment?.split("\n"),tag(:br)) %>
			</div>
			<%# コメント機能 %>
			<div class="post__comment__ui">
				<%= render 'comments/comment_form', post: post %>
			</div>
		</div>
	</div>
</div>