<div class="posts-list">
	<% if @posts.present? %>
		<ul class="posts-list-ul">
			<% @posts.each do |post| %>
				<% if post.img? %>
					<li class="posts-list-li">
						<a class="js-modal-open" href="" data-target="modal-<%= post.id %>">
							<%= image_tag post.img.url %>
							<i class="fas fa-heart like-icon">
								<span id="like-count-<%= post.id %>"><%= post.likes.count %></span>
							</i>
							<i class="fas fa-comment comment-icon">
								<span id="comment-count-<%= post.id %>"><%= post.comments.count %></span>
							</i>
						</a>
					</li>
					<%# モーダルウィンドウ %>
					<%= render 'posts/post_modal', post: post %>
				<% end %>
			<% end %>
		</ul>
	<% else %>
		<h4><p class="tac">投稿がありません</p></h4>
	<% end %>
</div>
<div class="clear"></div>
<div class="tac">
    <%= paginate @posts %>
</div>

