<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= render 'partial/rails_dafault' %>
    <%= render 'partial/shim' %>
  </head>

  <body>
    <%= render 'partial/header' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= render 'partial/footer' %>
  </body>
</html>
