<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= render 'shared/rails_dafault' %>
    <%= render 'shared/shim' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render 'layouts/notifications' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </body>
  <%= javascript_include_tag 'dropdwn.js' %>
</html>
